In [37]:
import numpy as np 
import pandas as pd

In [38]:
df = pd.read_csv('adult.data.csv') #Read the csv file

In [40]:
df.head() # First five rows of the dataframe

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [44]:
#Different Races and their counts
race_count = df['race'].value_counts()
race_count

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [45]:
#Avearge age of men 
average_age_men = df[df.sex=='Male']['age'].mean()
average_age_men

39.43354749885268

In [52]:
#Percentage of People that have a bachelors degree
total = df.shape[0]
num_bachelors_degree = df[df.education == 'Bachelors'].shape[0]
percentage_bachelors = round(num_bachelors_degree/total*100,1)
percentage_bachelors

16.4

In [60]:
#Percentage Population with a higher education that are rich
total_higher_education = df[(df.education == 'Bachelors') | (df.education == 'Masters') | (df.education == 'Doctorate')]
higher_education_rich = total_higher_education[total_higher_education.salary == '>50K']
percent_higher_education_rich = round(higher_education_rich.shape[0]/total_higher_education.shape[0]*100,1)
percent_higher_education_rich

46.5

In [62]:
#Percentage Population without higher education that are rich 
total_lower_education = df[(df.education != 'Bachelors') & (df.education != 'Masters') & (df.education != 'Doctorate')]
lower_education_rich = total_lower_education[total_lower_education.salary == '>50K']
percent_lower_education_rich = round(lower_education_rich.shape[0]/total_lower_education.shape[0]*100,1)
percent_lower_education_rich

17.4

In [64]:
#minimum number of hours a person works per week
min_work_hours = df['hours-per-week'].min()
min_work_hours

1

In [69]:
#percentage of the people who work the minimum number of hours per week have a salary of >50K
num_min_workers = df[df['hours-per-week']==min_work_hours]
rich_min_workers = num_min_workers[num_min_workers.salary == '>50K']
rich_percentage = round(rich_min_workers.shape[0]/num_min_workers.shape[0]*100,1)
rich_percentage

10.0

In [91]:
# Country With Highest Percentage of People Earning >50K
x=df[df.salary == '>50K']
y=x['native-country'].value_counts()/df['native-country'].value_counts()
y.idxmax()

'Iran'

In [95]:
#Most Popular occupation in India
india_pop = df[df['native-country']=='India']
z = india_pop['occupation'].value_counts()
z.idxmax()

'Prof-specialty'